<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>New question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <!-- <h1 th:text="'New question for ' + ${poll.name}"></h1> -->
    <form method="post" th:action="@{/savequestion}" th:object="${newQuestion}">
        <input type="hidden" th:field="${newQuestion.poll}" />
        <input type="hidden" th:field="${newQuestion.questionType}"/>
        <div th:switch="${newQuestion.questionType.name()}">
			<div th:case="'TEXT'">
				<p><input type="text" placeholder="Insert Question" th:field="*{content}"></p>
			</div>
			<div th:case="'RADIOBUTTON'">
				<p><input type="text" placeholder="Insert Question" th:field="*{content}"></p>
				<p>Radiobutton placeholder</p>
			</div>
		</div>
        <input type="submit" value="Save" />
    </form>
</body>

</html>